*
{
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    text-align: center;
}

html, body
{
    width: 100%;
    min-height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 0px;
    margin: 0px;
}

#content
{
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 0px) and (max-width: 670px)
{
    #content
    {
        flex-direction: column;
    }
    #history
    {
        max-height: 150px;
    }
}
